<ion-content [fullscreen]="true" class="content-login">
  <ion-grid>
    <form [formGroup]="form">
      <ion-row class="ion-justify-content-center">
        <ion-col size="auto">
          <ion-img class="logo" src="https://png.pngtree.com/png-clipart/20230804/original/pngtree-social-network-icon-3d-pax-world-general-vector-picture-image_9606980.png" alt="Logo Yumai"></ion-img>
        </ion-col>
        <ion-col size="12">
          <ion-text class="title">
            <h2>Registrarse</h2>
          </ion-text>
        </ion-col>
        <ion-col size="12">
          <ion-label>Correo</ion-label>
        </ion-col>
        <ion-col size="12">
          <div class="content-password">
            <ion-input class="form-control" formControlName="email" type="email" labelPlacement="stacked" placeholder="Ingrese su correo"></ion-input>
          </div>
          <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
            validation: 'required',
            message: 'El correo es requerido',
            control: form.controls['email'],
            clase: 'black'
          }"></ng-container>
          <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
            validation: 'email',
            message: 'El correo no tiene el formato',
            control: form.controls['email'],
            clase: 'black'
          }"></ng-container>
        </ion-col>
        <ion-col size="12">
          <ion-label>Contraseña</ion-label>
        </ion-col>
        <ion-col size="12">
          <div class="content-password">
            <ion-input class="form-control" formControlName="password" [type]="!typePassword ? 'password' : 'text'" labelPlacement="stacked" placeholder="Ingrese su contraseña"></ion-input>
            <ion-icon slot="end" [name]="!typePassword ? 'eye-outline' : 'eye-off-outline'" (click)="typePassword = !typePassword"></ion-icon>
          </div>
          <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
            validation: 'required',
            message: 'La contraseña es requerido',
            control: form.controls['password'],
            clase: 'black'
          }"></ng-container>
        </ion-col>
        <ion-col size="12">
          <ion-label>Verificar Contraseña</ion-label>
        </ion-col>
        <ion-col size="12">
          <div class="content-password">
            <ion-input class="form-control" formControlName="confirmarPassword" [type]="!typePassword ? 'password' : 'text'" labelPlacement="stacked" placeholder="Ingrese la nueva contraseña"></ion-input>
            <ion-icon slot="end" [name]="!typePassword ? 'eye-outline' : 'eye-off-outline'" (click)="typePassword = !typePassword"></ion-icon>
          </div>
          <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
            validation: 'required',
            message: 'La Verificar Contraseña es requerido',
            control: form.controls['confirmarPassword'],
            clase: 'black'
          }"></ng-container>
        </ion-col>
        <ion-col size="12">
          <ion-button [disabled]="form.invalid" expand="block" (click)="saveUser($event)">
            Registrarse
          </ion-button>
        </ion-col>
        <ion-col size="12">
        </ion-col>
        <ion-col size="auto" class="content-optional ion-text-center">
          <p>¿Ya tienes una cuenta?</p>
          <a (click)="_services.url('/login')">Iniciar sesión</a>
        </ion-col>
      </ion-row>
    </form>
  </ion-grid>
  <ng-template #formError let-control="control" let-message="message" let-clase="clase" let-validation="validation">
    @if (control.hasError(validation) && (control.dirty || control.touched)) {
      <ng-container>
        <div class="fv-plugins-message-container">
          <!-- [ngClass]="clase" -->
          <span role="alert">
            {{ message }}
          </span>
        </div>
      </ng-container>
    }
  </ng-template>
</ion-content>