<ion-header mode="ios" [translucent]="true" class="ion-no-border">
  <ion-toolbar color="primary" class="ion-justify-content-center ion-align-items-center ion-d-flex">
    <div class="content-logo" slot="start">
      <ion-img class="logo" src="https://png.pngtree.com/png-clipart/20230804/original/pngtree-social-network-icon-3d-pax-world-general-vector-picture-image_9606980.png" alt=""></ion-img>
    </div>
    <!-- <ion-buttons slot="end" class="ion-justify-content-center ion-align-items-center">
       <ion-button><ion-icon name="notifications"></ion-icon></ion-button>
    </ion-buttons> -->
    <ion-searchbar animated="true" class="ion-justify-content-center ion-align-items-center ion-d-flex" slot="end" mode="ios"></ion-searchbar>
  </ion-toolbar>
  <ion-toolbar class="content-navegacion">
    <ion-buttons class="ion-justify-content-around ion-align-items-center">
      @for (item of arrayRutas; track $index) {
        <ion-button [class]="item.activo ? 'activo' : ''" (click)="irPagina(item?.path || '')">
          <ion-icon [name]="item.data?.['img'] || 'home-outline'"></ion-icon>
        </ion-button>
      }
      <ion-menu-button>
        <ion-button>
          <ion-icon name="menu-outline"></ion-icon>
        </ion-button>
      </ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>